/* This file is mainly used for styling our index html file */
* {
  box-sizing: border-box;
}

h3 {
  color: #b21717;
}

nav, p {
  font-family: Arial, sans-serif;
  margin: 5;
  padding: 5;
  background-color: #f4f4f4;
}

